# -------------------------------------------------------------------------------
#          Allgemeine Konfigurationen
# -------------------------------------------------------------------------------
ENV=dev
STAGE=dev

QUARKUS_HTTP_PORT=9800

## kommaseparierte Liste von ClientIds, die diesen Service benutzen dürfen (mja und minikaenguru)
CLIENTIDS=NBptB82KjFkelkF55Aq4SmQSL3DXZHHurbe7l5W9LT7U,k7AxUVYzr1FBAvD8e99orRqKqx4jBwcr7Dmgn5jdBf8J,N7SsGenun4znNUdQzyLD0wzOfRHOmc9XN35TOGfbBcvA

# --------------------------------------------------------------------------------
#           ClamAV
# --------------------------------------------------------------------------------
CLAMAV_HOST=192.168.10.176

# --------------------------------------------------------------------------------
#           SMTP
# --------------------------------------------------------------------------------
QUARKUS_MAILER_AUTH-METHODS=DIGEST-MD5 CRAM-SHA256 CRAM-SHA1 CRAM-MD5 PLAIN LOGIN
QUARKUS_MAILER_FROM=ueberschreiben
QUARKUS_MAILER_HOST=ueberschreiben
QUARKUS_MAILER_PORT=0
QUARKUS_MAILER_START-TLS=REQUIRED
QUARKUS_MAILER_USERNAME=ueberschreiben
QUARKUS_MAILER_PASSWORD=ueberschreiben
QUARKUS_MAILER_MOCK=false

EMAIL_TO = überschreiben

_MOCK-MAILBOX-TEST_QUARKUS_MAILER_MOCK=true

# --------------------------------------------------------------------------------
#           TELEGRAM
# --------------------------------------------------------------------------------
TELEGRAM_ACTIVATED = false
TELEGRAM_SECRET = ueberschreiben
TELEGRAM_CHATID = 1111111

# --------------------------------------------------------------------------------
#           Logging
# --------------------------------------------------------------------------------
QUARKUS_LOG_CONSOLE_FORMAT=%d{yyyy-MM-dd HH:mm:ss,SSS} %p (%t) clientId=%X{clientId}, correlationId=%X{correlationId}, [%c:%L] %s%e%n
QUARKUS_LOG_LEVEL=WARN

QUARKUS_LOG_FILE_ENABLE=false
QUARKUS_LOG_FILE_LEVEL=WARN

QUARKUS_HTTP_ACCESS-LOG_ENABLED = true
QUARKUS_HTTP_ACCESS-LOG_LOG-TO-FILE = false
